body {
	font-family: "Oxanium", cursive;
	background-color: hsl(0, 0%, 0%);
	color: #ffffff;
}

body::before{
    content: "";
    background-image: url(../img/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.header {
	display: flex;
	justify-content: center;
}

.characters-selection {
	display: flex;
	align-items: center;
	gap: 30px;
  min-height: calc(100vh - 152px);
  justify-content: center;
}

.characters-selection .characters-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.characters-selection .characters {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 585px;
	gap: 25px;
}

.characters-selection .characters .title {
	font-size: 20px;
	letter-spacing: 4px;
	text-transform: uppercase;
	border-bottom: 2px solid #47f4ff;
	width: 100%;
	text-align: center;
}

.characters-list .character {
	border-bottom: 4px solid #47f4ff;
}

.characters-list .character img {
	width: 100%;
	height: 100%;
}

.characters-list .character.selected {
	box-shadow: 0px 0px 24px 5px #0271f7;
}

.selected-character {
    text-align: center;
    max-height: 530px;
}

.selected-character .selected-character-img{
    width: 430px;
    height: 430px;
}

.selected-character .character-name{
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.selected-character #character-description{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
}


